.ant-carousel .slick-slide {
    text-align: center;
    height: auto;
    background: #004cac;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}

.ant-carousel .slick-slide img {
    max-width: 100%;
    height: auto;
}

